@charset "utf-8";
div.row::after{
    clear: both;
    content: "";
    display: table;
}
div[class^="col-"]{
    float: left;
}
div.col-1-1{
    width: 100%;
}
div.col-1-2{
    width: 50%;
}
 
article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}
 
 
 
nav ul {
   list-style: none;
   list-style-image: none;
}
 
nav a {
   text-decoration: none;
}
/*=====================================================================================*/
 
html{
    background-image: url("back1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
body{
    background-color: rgb(255, 204, 153);
    height: 8600px;
    width: 75%;
    margin-left: 200px;
    margin-top: 0;
    border: black 2px solid;
    text-align: center;
    vertical-align: middle
}

header{
    background-color: #D68D11;
    font-size: 60px;
    color: #721817;
    text-align: center;
    height: 80px;
    margin-top: 0px;
    top: 0px;
}
nav{
    background-color: #D68D11;
    height: 60px;
    width: 100%;
    margin-top: 0px;
    font-size: 25px;
}
div#head{
    position: fixed;
    height: 200px;
    width: 75%;
    margin-top: 0px;
}
ul{
    margin-top: 0px;
}
nav > ul li {
    float: left;
}
nav ul::after{
    clear: both;
    content:"";
    display: table;
}
li a{
    padding: 15px;
    padding-bottom: 20px;
    color: #721817;
}
li a:hover{
    color: #A00000;
    text-shadow: white 0px 0px 10px;
}
section{
    margin-top: 200px;
}
div{
    height: 780px;
    margin-top: 30px;
    margin-bottom: 50px;
}
div#lunch{
    margin-top: 100px;
}
div#thai{
    height: 1890px;
}
div#chinese{
    margin-top: 300px;
}
div#veggies{
    margin-top: 300px;
}


h1{

    font-size: 30px;
    color: #721817;
    border-bottom: #D68D11 5px double;
    text-align: left;
    margin-left: 20px;
}
span{
    font-size: 15px;
    color: black;
}
span#spicy{
    font-size: 20px;
    margin-left: 20%;
}
p{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    
}
